@using System.Text
@using System.Text.Json
@model RazorTemplates.Models.ChatMessagesModel

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whats App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>

    <body>
        <div class='container'>
            <div class='row'>
                @{
                    /*
                    * This is a bit of a mess, needs a decent way of grouping to make a page like the web whatsapp
                    */
                    var chatGroups = Model.ChatGroups;
                    StringBuilder groupBuilder = new();

                    groupBuilder.AppendLine("<div class='col-md-3'>");

                    foreach (var chat in chatGroups)
                    {
                        int chatId = chat.ChatId;
                        string displayName = chat.DisplayName ?? "Unknown contact"; 

                        groupBuilder.AppendLine($"<ul class='chat-group' data-chat-id={chatId}>{displayName}</ul>");
                    }

                    groupBuilder.AppendLine("</div>");
                    @Html.Raw(groupBuilder);
                }
            </div>
        </div>
    </body>
</html>

<script>
(function() {
    const chats = document.querySelectorAll('.chat-group');

    chats.forEach(chat => {
        chat.addEventListener('click', async (event) => {
            const target = event.target;
            const chatId = parseInt(target.getAttribute('data-chat-id'));

            target.setAttribute('style', 'background-color: yellow;');
        });
    });

    async function loadChat(chatId) {

    }

}());

</script>